---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<RECIPE_APP_ID>&app_key=<RECIPE_APP_KEY>&q=liberia&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sun, 12 Nov 2023 22:36:44 GMT
recorded_with: VCR 6.2.0
